
%h1
  Week
  = @week.week_number.to_s + ": "
  = @week.week_number == 0 ? 'preseason abuse' : @week.name
  
- unless @week.comments.where(:user_id => current_user.id).where(:status => 'preview').empty?
  - previewing = @week.comments.find_by(:user_id => current_user.id, :status => 'preview')
  #preview.sixteen.columns
    %p You are previewing this comment.
    .comment_preview.sixteen.columns= render :partial => 'comment', :locals => {:c => previewing}
    
    .buttons.sixteen.columns
      = button_to 'cancel', comment_path(previewing), :method => :delete
      = button_to 'publish', publish_comment_path(previewing), :method => :get
  .sixteen.columns
    %h5 edit this if you want:
    = render :partial => 'new_comment', :locals => {:week => @week, :comment => previewing}

- unless @week.week_number == 0 
  - if @week.open?
    - players = User.all
  - else
    - players = @week.week_users.sort_by(&:score).reverse.map(&:user)
    - total_luck = 0
  .eight.columns.alpha
    %table#leaderboard
      %thead
        %th User
        %th Pick'em pts
        %th Money owed
        %th Own value
        %th Final score
        %th Luck
      %tbody
        - players.each do |user|
          %tr{:class => (user == @week.winner ? 'winner' : false)}
            %td
              = user.name
              .yahoo= user.yahoo_name
            %td= @week.score?(user)
            - if @week.open?
              %td{:colspan => 3}
                %em No scores added yet
            - else
              %td= @week.money_owed?(user) == 0 ? "winner!" : number_to_currency(@week.money_owed?(user) / @week.exchange_rate, :unit => @week.currency.symbol)
              -# %td= number_to_currency(@week.pot_earnings?(user), :unit => @week.currency.symbol)
              %td{:class => (@week.money_adjusted?(user) < 0 ? 'red' : false)}= number_to_currency(@week.money_adjusted?(user), :unit => @week.currency.symbol)
              %td{:class => (@week.money_adjusted?(user) < 0 ? 'red' : false)}= number_to_currency(@week.final_score?(user), :unit => @week.season.basecurrency.symbol)
              %td{:class => (@week.luck?(user).to_f >= 0 ? false : :red)}
                - t = @week.luck?(user).to_f
                = t
                - total_luck = total_luck + t
      %tfoot
        %tr
          %td Total karma:
          %td= @week.total_score
          - unless @week.open?
            %td &nbsp;
            %td{:colspan => 2 } Total luck:
            %td= number_to_currency(total_luck, :unit => '')
        - if current_user.is_admin? && @week.open?
          %tr
            %td{:colspan => 2}
              = link_to 'enter scores', score_week_path(@week)


  .seven.columns.omega
    - unless @week.currency.blank?
      %h3 This week's currency was ....
      .currency_title= @week.currency.name
      .currency_country= "The currency used in " + @week.currency.try(:country)
      .currency_wikipedia_link= link_to 'learn about the ' + @week.currency.name, @week.currency.wikipedia_link, :target => :_blank
      
      .exchange_rate
        %p= "On #{@week.closing_date.strftime('%d %B %Y')}, the exchange rate between the #{@week.currency.name} and the #{@week.season.basecurrency.name} was ...."
        .rate_window
          .three.columns.alpha.right
            .result
              1.00
              %span.unit= @week.currency.iso4217.upcase
            .meta
              .name= @week.currency.name
              .value
                = "1 #{@week.currency.iso4217.upcase} = #{@week.exchange_rate} #{@week.season.basecurrency.iso4217.upcase}"
          .column.equal= " = "
          .three.columns.omega
            .result
              = @week.exchange_rate.to_s
              %span.unit= @week.season.basecurrency.iso4217.upcase
            .meta
              .name= @week.season.basecurrency.name
              .value
                = "1 #{@week.season.basecurrency.iso4217.upcase} = #{"%.5f" % (1 / @week.exchange_rate)} #{@week.currency.iso4217.upcase}"

        
        
#comments.sixteen.columns
  %h1
    %u Discussion:

  - @week.comments.published.order(:created_at).each do |c|
    .comment.sixteen.columns= render :partial => 'comment', :locals => {:c => c}
- if @week.open?
  = render :partial => 'new_comment', :locals => {:week => @week, :comment => Comment.new}
- else
  .sixteen.columns
    %h5 Discussion is closed for this week. Take it to next week.
