%h1
  NFL
  = @current_season.year
  Season:
  = @current_season.name

%h3= link_to 'pre-season chatter', '/2013/0'
.thirteen.columns.alpha
  %table.weeks_table
    %thead
      %th Week #
      %th Week slogan
      %th Currency
      %th Winner
      %th Winnings
    %tbody
      - @current_season.weeks.sort_by(&:week_number)[1..17].each do |week|
        %tr
          %td= week.week_number
          %td= week.name
          %td= week.currency.try(:name)
          %td
          %td
      
.three.columns.omega
  - p =  Page.find_by(:slug => 'rules')
  - unless p.nil?
    .sidebar_box
      %h3= p.name
      .body= raw Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(p.body)