%table.seasons
  %thead
    %th Year
    %th Name
    %th Base currency
    %th Winner
    %th.actions
  %tbody
    - @seasons.each do |season|
      %tr
        %td= season.year
        %td= season.try(:name)
        %td 
          - if season.basecurrency
            = season.basecurrency.name
        %td
        %td
          - if current_user.is_admin? 
            = link_to 'Delete', season, method: :delete, data: {confirm: 'Are you sure?'}
- if current_user.is_admin?
  = link_to 'Define new season', new_season_path
  